<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>FrontController</welcome-file>
    </welcome-file-list>
    <security-role>
        <description>Can only access information about themselves</description>
        <role-name>Customer</role-name>
    </security-role>
    <security-role>
        <description>Can see information about all customers</description>
        <role-name>Employee</role-name>
    </security-role>
    <security-role>
        <description>Can add customers + employee access</description>
        <role-name>SuperEmployee</role-name>
    </security-role>
    <error-page>
        <exception-type>java.lang.SecurityException</exception-type>
        <location>/errorPages/notRequiredRightsPage.jsp</location>
    </error-page>
    <login-config>
        <auth-method>FORM</auth-method>
    </login-config>
    <context-param>
        <description>Port for non SSL communication</description>
        <param-name>portNonSSL</param-name>
        <param-value>8080</param-value>
    </context-param>
    <context-param>
        <description>Port for SSL communication</description>
        <param-name>portSSL</param-name>
        <param-value>8181</param-value>
    </context-param>
    <context-param>
        <description>Should the application switch to secure mode
            Values: TRUE or FALSE</description>
        <param-name>useSSL</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <description>If the system should logon automatically using the username given in the autologon properties</description>
        <param-name>autoLogon</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <description>Autologon username (Has no effect if autoLogon is set to false)</description>
        <param-name>autoLogonUser</param-name>
        <param-value>e1@bank.dk</param-value>
    </context-param>
    <context-param>
        <description>Autologon password (Has no effect if autoLogon is set to false)</description>
        <param-name>autoLogonPassword</param-name>
        <param-value>test</param-value>
    </context-param>
</web-app>
