<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>FrontController</welcome-file>
    </welcome-file-list>
    <security-role>
        <description>Can only access information about themselves</description>
        <role-name>Customer</role-name>
    </security-role>
    <security-role>
        <description>Can see information about all customers</description>
        <role-name>Employee</role-name>
    </security-role>
    <security-role>
        <description>Can add customers + employee access</description>
        <role-name>SuperEmployee</role-name>
    </security-role>
    <error-page>
        <exception-type>java.lang.SecurityException</exception-type>
        <location>/errorPages/notRequiredRightsPage.jsp</location>
    </error-page>
    <login-config>
        <auth-method>FORM</auth-method>
    </login-config>
</web-app>
